body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    color: #0f8047;
}

.signin-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.signin-container h2 {
    color: #333;
    margin-bottom: 10px;
}

.signin-container p {
    color: #666;
    margin-bottom: 20px;
}

.signin-container input[type="text"],
.signin-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.signin-container .sign-in-button {
    background-color: #34b379;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-container .sign-in-button:hover {
    background-color: #30a36a;
}

.disclaimer {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

.disclaimer a {
    color: #34b379;
    text-decoration: none;
}

.disclaimer a:hover {
    text-decoration: underline;
}
